{% extends "stages/base.html" %}
{% load static %}
{% block titre %} Toutes les offres {% endblock %} 
{% block contenu %}

<!-- Lien vers le fichier CSS dédié -->
<link rel="stylesheet" href="{% static 'stages/css/liste_offres.css' %}" />

<h1>Toutes les offres</h1>

{% if offres %}
<table class="modern-table" border="1" cellpadding=5 cellspaccing=0>
  <thead>
    <tr>
      <th>Titre de l'offre</th>
      <th>Entreprise</th>
      <th>Date de début</th>
      <th>Date de fin</th>
      <th>Nombre de places</th>
      <th>Compétences requises</th>
    </tr>
  </thead>
  <tbody>
    {% for offre in offres %}
    <tr>
      <td><a href="{% url "stages:detail_offre" offre.pk %}">{{ offre.titre }}</a></td>
      <td>{{ offre.entreprise.nom }}</td>
      <td>{{ offre.date_debut }}</td>
      <td>{{ offre.date_fin }}</td>
      <td><span class="badge-slots">{{ offre.nb_place }}</span></td>
      <td>
        <ul class="skills-list">
          {% for competence in offre.competences.all %}
          <li>{{ competence.libelle }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="empty-message">Aucune offre trouvée.</div>
{% endif %}

{% endblock %}
